@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:#F63049 ;
  --color-secondary: #D02752;
  --color-accent: #8A244B;
  

}
